*{
    padding: 0;
    margin: 0;
}

body{
    background: url("img/Fondos/hematologia.png") center center/cover;
    height: 200vh;
}

nav.navbar{
    background-color: transparent;
    font-family: 'Fira Sans', sans-serif;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: 0.5s;
}

nav.navbar.move{
    background-color: white;
}

a.nav-link{
    font-size: larger;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

a.nav-link.move{
    color: #04589D;
}

a.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

a.navbar-brand.move{
    color: #04589D;
}

li.nav-item{
    height: 50px;
}

li.nav-item:hover{
    border-bottom: 5px solid #f9143b;
}

#navbarNavDropdown{
    justify-content: end;
}

#btn-wsp{
    position: fixed;
    display: flex;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: 0.5s;
}

#imgWhatsApp{
    background-image: url("img/whatsappBlan2.png");
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#btn-wsp:hover{
    background-color: white;
    transition: 0.5s;
    #imgWhatsApp{
        background-image: url("img/whatsappVer2.png");
        transition: 0.5s;
    }
}

#space{
    width: 100%;
    height: 70px;
    background-color: #f9143b;
}

#back{
    display: flex;
    width: 100%;
    height: 40rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.accordion{
    width: 70%;
    height: 20%;
    box-shadow:  0px 1px 10px rgba(255, 255, 255, 0.3);
}

.accordion-button.collapsed{
    background-color: white;
}

h2 .accordion-button{
    font-family: 'Fira Sans', sans-serif;
    font-size: x-large;
}

.accordion-body{
    background-color: #04589D;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
}

.accordion-item{
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.3);
}

.list-group{
    background-color: #04589D;
}

ul li.list-group-item{
    background-color: #04589D;
    border-color: #04589D;
    color: white;
}

@media screen and (max-width: 600px) {
    h2 .accordion-button{
        font-size: medium;
    }

    .accordion-body{
        font-size: small;
    }
}

@media screen and (max-width: 500px) {
    h2 .accordion-button{
        font-size: small;
    }

    .accordion-body{
        font-size: xx-small;
    }
}